body {
	background-color:#4579F1;
	color:#E5E5E5;
	font-family:"Copperplate Gothic Light";
}
#me {
	border-radius:5px;
}
.links:link {
	color:#FFCC00;
	font-size:16px;
}
.links:hover {
	font-size:20px;
	font-style:italic;
}
.section {
	font-family:"Comic Sans MS", cursive;
}
.top, .top2 {
	font-size:20px;
	color:#006;
	font-family:"Copperplate Gothic Light", sans-serif;
	font-style:italic;
	font-weight:bold;
}
.top2 {
	padding-left:20px;
	color:#00C;
	text-decoration:underline;
	font-size:16px;
	font-style:normal;
}
#bio{
	padding-left:5%;
	padding-right:5%;
	text-align:left;
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	color:#00C;
}
.footer, .header{
	text-align:center;
	padding-bottom:20px;
}