body {
	background-color:#192B47;
	color:#BABFC8;
	padding-left:20%;
	padding-right:20%;
	padding-top:5%;
	padding-bottom:10%;
}
a{
	text-decoration:none;
	color:#FFCC33;
}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
h1{
	padding:10px;
	color:#F90;
	border-bottom:groove;
	border-left:groove;
	border-bottom-left-radius:8px;
}
p{
	padding-left:5%;
	padding-right:5%;
}
.error{
	color:#F30;
	font-weight:bold;
}